.itsme {
    color: blue;
}

#campusconnect_dirtree li,
#campusconnect_categorytree li {
    list-style: none;
}

#campusconnect_dirtree .status_pending_unmapped {
    font-weight: bold;
}
#campusconnect_dirtree .status_pending_manual {
    font-weight: bold;
    font-style: italic;
    color: #ccc;
}
#campusconnect_dirtree .status_pending_automatic {
    font-style: italic;
    color: #ccc;
}
#campusconnect_dirtree .status_mapped_manual {
}
#campusconnect_dirtree .status_mapped_automatic {
}
#campusconnect_dirtree .status_deleted {
    color: red;
    text-decoration: line-through;
}

#campusconnect_categorytree .mapped_category {
    border: dashed green 2px;
    padding: 0 3px;
}

.path-admin-local-campusconnect input.submit {
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.generaltable #campusconnect_dirtree td {
    border: 0;
}